body {
  margin: 0;
  font-family: "Nunito Sans";
}

#HeaderTop #SiteTitle {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(184, 2, 2), rgb(184, 2, 2), rgb(184, 2, 2), rgba(255, 255, 255, 0));
  margin: 10px auto;
  padding: 5px 100px;
  color: white;
  text-align: center;

}

#BI {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: .5;
}

/* Header */

#HeaderTop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 10px 3%;
}

#HeaderTop a, #NavBar a {
  text-decoration: none;
  color: black;
}

#navLogin, #navAccount, #NavBar a {
  border: 1px solid black;
  background-color: white;
  padding: 5px 10px;
  border-radius: 30px;
}

#NavBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 50px;
}

#FullTop {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(150, 75, 0, 0));
  margin-top: -10px;
}

/* Homepage */

#HomepageFlex {
  display: flex;
  flex-flow: row wrap;
  margin: 50px 5%;
  gap: 40px;
}

#HomepageText {
  text-align: center;
  margin: auto;
  width: 660px;
  font-size: 22px;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
}

#takanoshoFootball {
  width: 600px;
  border: 5px ridge goldenrod;
  margin: 0 auto;
}

/* for the Login */

#LoginFlex {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 80px 10%;
  gap: 20px;
}

#LFFlex {
  display: flex;
  justify-content: center;
  width: 450px;
  margin: 0 auto;
}

#LoginForm {
  border: 1px solid black;
  padding: 20px 50px;
  background-color: white;
}

.LoginLine {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 15px auto;
  font-size: 20px;
  height: 30px;
}

.loginLine input {
  font-size: 18px;
}

#LoginSubmit {
  display: block;
  margin: 40px auto 10px auto;
  height: 35px;
  width: 120px;
  font-size: 20px;
}

#signup {
  width: 500px;
  text-align: center;
  font-size: 18px;
}

#signup button {
  height: 35px;
  width: 100px;
  font-size: 18px;
}

/* for the sign up form */

#SignupFlex {
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid black;
  width: 500px;
  justify-content: center;
  margin: 0px auto;
  padding: 20px;
  background-color: white;
}

.SignupLine {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 420px;
  margin: 15px auto;
  font-size: 20px;
  height: 30px;
  text-align: right;
}

.SignupLine input {
  font-size: 18px;
}

#SignupFlex button {
  display: block;
  margin: 40px auto 10px auto;
  height: 35px;
  width: 120px;
  font-size: 20px;
}

/* Account page */

#AccountLogin {
  text-align: center;
  margin: 100px auto;
  width: 600px;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
}

#AccountLoginForm {
  display: block;
  width: 1000px;
  margin: 0 auto;
  color: black;
}

#AccountPage {
  text-align: center;
  width: 840px;
  padding: 20px;
  margin: 20px auto;
  background-color: white;
  border: 1px solid black;
}

#AccountHello {
  margin: 0px auto;
}

#AccountTeam {
  border: 5px ridge goldenrod;
  width: 800px;
  margin: 0px auto;
  padding: 10px;
  background-color: rgb(229, 202, 133);
}

.AccountOneRikishi {
  display: flex;
  flex-flow: row nowrap;
  width: 300px;
  justify-content: center;
  margin: 10px auto;
  background-color: white;
  padding: 5px 20px;
  border: 1px solid black;
  border-radius: 50px;
}

.AORrank {
  width: 50px;
}

.AORshikona {
  width: 100px;
}

#Redraft {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

#Redraft h4 {
  width: 400px;
}

#Redraft button {
  height: 40px;
  font-size: 20px;
}

/* Rules & Scoring */

#RulesTopFlex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 40px 20px;
  gap: 10px;
}

#RulesText, #ScoringFacts {
  width: 800px;
  text-align: center;
  background-color: white;
  border: 1px solid black;
}

#HowItWorks li {
  width: 180px;
  text-align: left;
  margin: 0 auto;
}

#HWFlex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: -20px 10px;
}

#ScoringFlex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

#Scoring li {
  list-style-position: inside;
  width: 100%;
  margin: 0;
}


#Kotomitsuki {
  display: block;
  width: 400px;
  border: 5px ridge gold;
}

#MoreFacts {
  margin: 50px auto;
  text-align: center;
  background-color: white;
  width: 800px;
  padding: 10px 50px;
  border: 3px ridge black;
  border-radius: 100px;
}

/* for the Draft */

#DraftLogin, #DraftAD {
  background-color: white;
  text-align: center;
  margin: 80px auto;
  padding: 10px;
  border: 3px solid black;
}

#DraftLogin {
  width: 250px;
}

#DraftAD {
  width: 200px;
  height: 120px;
}

#DraftTopFlex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 20px;
  margin: 40px;
}

#FSTeam {
  border: 1px solid black;
  text-align: center;
  padding: 20px;
  background-color: white;
}

#DraftErrorMessage {
  border: 3px solid red;
  width: 320px;
  margin: 20px auto;
  color: red;
}

#FSFlex {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 4%;
  margin: auto;
}

#FSTeamTable, #FSRikishi {
  width: 200px;
  display: block;
  margin: 0 auto;
}

#FSRikishi p {
  height: 21.5px;
}

#FSRikishi button {
  height: 18px;
  width: 18px;
  padding: 0px;
  margin: 0px;
}

.RLarge {
  border: 1px solid black;
  text-align: center;
  width: 500px;
  background-color: white;
}

#AddRikishiButton {
  font-size: 20px;
  margin: 20px auto;
  padding: 5px 20px;
}

/* .content {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  justify-content: center;
  align-items: center;
} */

#RLargeImage {
  width: 80px;
  margin: 10px auto;
}

#AllRikishiFlex {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#Makuuchi, #Juryo {
  display: block;
  width: 100%;
  margin: 10px 20px;
  background-color: rgb(229, 202, 133);
}

.RLFlex {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  overflow: scroll;
}

.SmallCard h3, .SmallCard p {
  margin: 5px auto;
}

.SmallCard h3 {
  width: 120px;
}

.SmallCard {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  border: 1px solid black;
  border-radius: 120px;
  background-color: white;
  padding: 5px;
  margin: 10px;
  
}

.smallImage {
  width: 40px;
  margin: 0 auto;
}

.greyed {
  background-color: grey;
}

/* for Results */

.teamsContainer {
  background-color: antiquewhite;
  border: 7px ridge goldenrod;
  margin: 40px;
}

.teamsTop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 3px solid black;
  text-align: center;
}

.teamsTop h2 {
  width: 150px;
}

.teamsTop p {
  width: 100px;
}

.oneTeam {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.oneTeam h2 {
  width: 150px;
}

.oneTeam p {
  width: 100px;
}